
{
  // "presets": [["env", {"modules": false}]],
      "presets": ["@babel/preset-env"],
    
    // "plugins": ["syntax-dynamic-import"],
    "plugins": ["@babel/plugin-syntax-dynamic-import"],
    
  
    "env": {
      "test": {
        "plugins": ["dynamic-import-node"]
      }
    }
  }